<% var title = 'Teams' %>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container-fluid">
    <% include navbar %>
    <h1><%= title %></h1>
    <div class="">
        <p>
            <a href="./addStudent" class="btn btn-default" role="button">Create Student</a>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>Student Name</th>
                <th>Nick Name</th>
                <th colspan="2">Action</th>
            </tr>
            <% students.forEach(function(student) { %>
            <tr>
                <td><%= student.fullname %></td>
                <td><%= student.nickname %></td>
                <td><a href="./editStudent?id=<%= student.id %>" >Change Password</a></td>
                <td><a href="./deleteStudent?id=<%= student.id %>" >Delete Account</a></td>
            </tr>
            <% }); %>
        </table>
    </div>
</div>
<% include foot %>
</body>
</html>

